:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #EEEEEE;
  background-image: url("./bg.jpg");
  background-repeat: repeat;
  background-color: #000218;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LiveScores.css */
.main{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

#navbar{
  padding-top: 0.1em;
  background-color: rgba(0,0,0,0.5);
}
h1{
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 2.5rem;
}

.league-buttons{
  display: block;
  margin-bottom: 1.5em;
}

.league-buttons button{
  margin: auto;
  margin-left: 1em;
  border: 1px white;
  border-radius: 10%;
  padding: 0.5em;
  font-size: large;
  color: white;
  background-color: #000218;
}
button:hover {
  background-color: rgba(0,0,0,0.2); /* Darker shade of the button color on hover */
}

button.active {
  background-color: #29b5bf;; /* Darker shade of the button color for active state */
}

/* Container for each fixture */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.9em;
  padding: 20px;
  border: 0.5px solid;
  border-color: #EEEEEE;
  background-color: #01062d;
  width: 60%;
}

/* Container for teams*/
.teams {
  display: flex;
  align-items: center;
  
}

.teamHome{
  margin: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  /* margin-left: 5%; */
}
.teamAway{
  margin: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* Logo of each team */
.team-logo {
  width: 4.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/* Container for status and score */
.status-score {
  margin-top: 0.5em;
  text-align: center;
}

/* Status of the game */
.status {
  font-size: small;
}

/* Scores of the game */
.score {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: white; 
}





